[submodule "docs/themes/hugo-material-docs"]
	path = docs/themes/hugo-material-docs
	url = https://github.com/digitalcraftsman/hugo-material-docs.git
[submodule "Assets/Libraries/brainvr-logger"]
	path = Assets/Libraries/brainvr-logger
	url = https://github.com/NUDZ/brainvr-unity-logger
